<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Launcher</key>
	<string>Launcher</string>
	<key>Services</key>
	<array>
		<dict>
			<key>welcomPageAfterLoading</key>
			<string>true</string>
			<key>name</key>
			<string>BizAService</string>
			<key>lazyLoading</key>
			<string>true</string>
			<key>class</key>
			<string>MPFrameworkBizAServiceImpl</string>
		</dict>
	</array>
	<key>Applications</key>
	<array>
		<dict>
			<key>delegate</key>
			<string>MPLauncherAppDelegate</string>
			<key>description</key>
			<string>Launcher</string>
			<key>name</key>
			<string>Launcher</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>MPFrameworkBizAAppDelegate</string>
			<key>description</key>
			<string>FrameworkBizA</string>
			<key>name</key>
			<string>66600001</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>MPFrameworkBizBAppDelegate</string>
			<key>description</key>
			<string>FrameworkBizB</string>
			<key>name</key>
			<string>66600002</string>
		</dict>
		<dict>
			<key>delegate</key>
			<string>MPFrameworkBizCAppDelegate</string>
			<key>description</key>
			<string>FrameworkBizC</string>
			<key>name</key>
			<string>66600003</string>
		</dict>
	</array>
	<key>ServicesMap</key>
	<dict>
		<key>[AUTOSTART]</key>
		<array/>
	</dict>
</dict>
</plist>
