# pod
MPFrameworkDemo_pod/MPFrameworkDemo_pod.xcworkspace
MPFrameworkDemo_pod/Podfile.lock
MPFrameworkDemo_pod/Pods
MPFrameworkDemo_pod/MPFrameworkDemo_pod.xcodeproj/project.xcworkspace
MPFrameworkDemo_pod/MPFrameworkDemo_pod.xcodeproj/xcuserdata

#plugin
MPFrameworkDemo_plugin/MPaaS/Frameworks/