{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPFrameworkDemo_plugin",
  "copy": false,
  "targets": {
    "MPFrameworkDemo_plugin": {
      "author": "vivi.yw",
      "time": "2019/03/28 12:32:20",
      "versions": {
        "APLog": {
          "APLog": "3.0.2.190226105327"
        },
        "MPDataCenter": {
          "MPDataCenter": "1.0.0.190312145215",
          "mPaas": "1.0.0.190321160009",
          "APLog": "3.0.2.190226105327"
        },
        "APCommonUI": {
          "APCommonUI": "1.0.0.190226202548",
          "AntUI": "1.0.0.190320123641",
          "AntUIShellForMpass": "1.0.0.190226202548",
          "MPBadgeService": "1.0.0.181024211440",
          "MPDataCenter": "1.0.0.190312145215",
          "mPaas": "1.0.0.190321160009",
          "APLog": "3.0.2.190226105327"
        },
        "MPBadgeService": {
          "MPBadgeService": "1.0.0.181024211440",
          "MPDataCenter": "1.0.0.190312145215",
          "mPaas": "1.0.0.190321160009",
          "APLog": "3.0.2.190226105327"
        },
        "APMobileFramework": {
          "APMobileFramework": "1.0.0.190227163103",
          "mPaas": "1.0.0.190321160009",
          "APLog": "3.0.2.190226105327"
        }
      },
      "baseline": "10.1.32",
      "frameworks": [
        "APLog.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "APCommonUI.framework",
        "Masonry.framework",
        "AntUI.framework",
        "MBProgressHUD.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "APMobileFramework.framework"
      ],
      "resources": [
        "APCommonUI.bundle",
        "APMobileFramework.bundle"
      ]
    }
  },
  "recent": "MPFrameworkDemo_plugin"
}