{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "MPFrameworkDemo_plugin",
  "copy": false,
  "targets": {
    "MPFrameworkDemo_plugin": {
      "author": "vivi.yw",
      "time": "2020/08/26 13:56:43",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "AntUIShellForMpass": "1.0.0.200421105830"
        },
        "mPaaS_MBProgressHud": {
          "MBProgressHUD": "1.0.0.200406133247"
        },
        "mPaaS_Masonry": {
          "Masonry": "1.0.0.200406133247"
        },
        "mPaaS_TTTAttributedLabel": {
          "TTTAttributedLabel": "1.0.0.200729094531"
        },
        "mPaaS_BadgeService": {
          "MPBadgeService": "1.0.0.200228135004",
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200729190444",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        }
      },
      "baseline": "10.1.68",
      "pversion": "15",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "APCommonUI.framework",
        "AntUI.framework",
        "Masonry.framework",
        "MBProgressHUD.framework",
        "TTTAttributedLabel.framework",
        "AntUIShellForMpass.framework",
        "MPBadgeService.framework",
        "APMobileFramework.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework"
      ],
      "resources": [
        "APCommonUI.bundle",
        "TTTAttributedLabel.bundle",
        "MPBadgeService.bundle",
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle"
      ],
      "options": {
        "mPaaS_MBProgressHud": true,
        "mPaaS_Masonry": true,
        "mPaaS_TTTAttributedLabel": true,
        "mPaaS_UTDIDLib": true
      }
    }
  },
  "recent": "MPFrameworkDemo_plugin"
}